:root{ 
    font-family: sans-serif;
    --clr-light: white;
    --clr-dark: black;
} 

body {
    background-color: white;
    color: black;
  }
  
  .dark-mode {
    background-color: black;
    color: white;
  }